<h1> Photo Details </h1>


<dl>
  <dt>Image</dt>

  <dd> <%= @the_user.id %> <dd>

  <dt>Caption</dt>

  <dd> form goes here <dd>

  <dt>Owner</dt>

  <dd> form goes here <dd>

  <dt>Posted</dt>

  <dd> form goes here <dd>


</dl>
